* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.icons {
  font-size: 1.5rem;
}

.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz__container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 50rem;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #cccc;
  border-radius: 0.5rem;
}

.quizInfo {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #f6f0ff;
}